<div class='container text-center'>
<div class='mt-4'>
  <blockquote class="blockquote text-center">
  <p class="mb-0"><%=Faker::Movies::HarryPotter.quote%></p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title"><%=Faker::Movies::HarryPotter.book%></cite></footer>
</blockquote>
</div>
</div>

